*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.box{
    background-color: violet;
    border: 1px solid black;
    width: 200px;
    height: 200px;
}
.parent{
    flex-wrap: wrap;
}
.item{
    background-color: yellow;
    border: 1px solid black;
}